/* Bootstrap CSS */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body::-webkit-scrollbar{
    display:none;
}

/* Navbar CSS */
.navbar{
    position:sticky;
    top:0;
    left:0;
    z-index:999;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.568);
    height:6rem;
    display:flex;
    justify-content:space-between;
}
.container-fluid{
    display:flex;
    justify-content:space-between;
}
.header{
    display:flex;
    align-items:center;
    justify-content:center;
    /* background-color:#088178; */
}
.navbar-nav{
    width:fit-content;
    display:flex;
    align-items:center;
    flex-grow:3;
}
.header img{
    margin-bottom:10px;
}
.navbar-brand{
    font-size:30px;
    font-weight:700;
}
.nav-link{
    font-size:20px;
    font-weight:600;
}
.active{
    color:brown;
}
/* .navbar-nav{
    align-items:center;
} */
.form-control{
    width:300px;
}
/*********************************/

/* Profile CSS */

.profile-container{
    background-color:#088178;
    height:85vh;
    padding:1rem 0;
    color:white;
}
.profile-details{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    width:fit-content;
    margin: auto;
}
.goto-btn .btn{
    margin:4px;
}
.profile-details img{
    border-radius:50%;
    width:100px;
    height:100px;
    margin:1rem;
}
.profile-details p{
    font-size:16px;
    font-weight:500;
    margin:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-details span{
    color:brown;
}

/* Card CSS */
.card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    gap:1rem;
    padding:2rem 3rem;
}
.card{
    overflow:auto;
    background-color:#088178;
    position:relative;
    color:white;
}
.card::-webkit-scrollbar{
    display:flex;
}
.card img{
    width:100%;
}
.back-btn{
    position:absolute;
    top:0;
    right:0;
}
h3{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
h3.full-title{
    -webkit-line-clamp: unset;
}
.out-links a, .out-links button{
    margin:8px 8px 0 0;
}
/* navbar-nav */
.loader{
    text-align:center;
    margin-top:5rem;
}

/* Login Component CSS */
.login-form{
    background-color:rgb(218, 238, 255);
    width:500px;
    margin:2rem auto;
    border-radius:10px;
    text-align:center;
    padding:2rem;
}
.login-form .btn{
    margin:1rem 0;
    width:100%;
}

/* Cart CSS */
.cart{
    background-color:blanchedalmond;
    text-align:center;
    height:85vh;
    padding:1rem;
}
.cart h2{
    margin-bottom:20px;
}
.cart-handler{
    display:flex;
    gap:10px;
}
.cart-container{
    background-color:white;
    box-shadow:0 0 2px 0px black;
    border-radius:10px;
    width:75%;
    padding:1.5rem;
    height:70vh;
    overflow:auto;
}
.cart-container::-webkit-scrollbar{
    display:block;
}
.cart-items{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}
.cart-img{
    width:20%;
}
.cart-content{
    text-align:left;
    width:65%;
}
.cart-content button{
    margin-right:10px
}
.cart-price{
    width:15%;
}
.cart-price span{
    color:brown;
}

.price-container{
    background-color:white;
    box-shadow:0 0 2px 0px black;
    border-radius:10px;
    width:25%;
    padding:1.5rem;
}
.prices{
    padding:1rem;
}
.prices div{
    display:flex;
    justify-content: space-between;
}
.price-buttons .btn{
    margin:10px;
}


/* About Component CSS */
.about-container{
    background-color:#088178;
    color:white;
    padding:1rem 0;
}
.about{
    max-width: 800px;
    margin:0 auto;
}



/* Address Component CSS */
.address{
    text-align:center;
    margin:1rem;
    background-color:rgb(190, 255, 255);
    max-width:700px;
    margin:auto;
    padding:2rem 2rem 1rem;
    margin-top:2rem;
    border-radius:10px;
}
.address h3{
    margin:10px;
}
.address form{
    text-align:left;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;

}
.form-check{
    width:100%;
    margin-left:15px;
}

.navbar-nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:15px;
}

/* Responsive */
/* input */

@media screen and (max-width : 800px){
    .navbar{
        align-items:center;
        max-width:800px;
        height:fit-content !important;
        position:sticky !important;
        top:0;
        left:0;
        z-index:999;
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.568);
        height:6rem;
        display:flex;
        justify-content:center;
        background-color:blanchedalmond !important;
    }
    .navbar-toggler{
    }
    .d-flex{
        width:60%;
    }
    .header{
        width:20%;
        margin-left:20px;
    }
    .navbar-nav{
        display:flex;
        justify-content: space-between;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xx{
        padding:1rem 2rem;
        gap:10px;
        max-width:800px;
    }
    .about-container{
        padding:2rem;
    }
    .card{
        padding:2rem;
        flex-direction:column;
    }
    .column{
        display:contents !important;
        justify-content:center;
    }
    .cart-content{
        margin-left:20px !important;
    }
    .cart-handler{
        flex-direction:column;
    }
    .cart-container{
        width:100%;
        max-height:30vh;
    }
    .cart-content{
        padding-left:2rem;
    }
    .price-container{
        width:100%;
    }
    .collapse{
        display:block;
    }
}

@media screen and (max-width : 400px){
    body{
        font-size:1rem;
    }

    .navbar{
        /* background-color:red !important; */
        display:flex;
        justify-content:center;
        padding:0;
    }
    .header img{
        width:35px !important;
        height:35px !important;
    }
    .navbar-toggler{
        position:absolute;
        top:0;
        right:0;
    }
    .header{
        width:100%;
    }
    .d-flex{ 
        padding:0;
        width:100%;
    }
    .navbar-nav{
        width:100%;
        display:flex;
        justify-content:space-between;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xx{
        padding:0;
    }




    .card-container{
        padding:1rem 0;
    }
    .card{
        margin:0;
        width:100%;
        height:fit-content !important;
        padding:1rem;
    }
    .card-title{
        font-size:1rem;
    }
    .card-img-top{
        margin:auto;
        height:8rem !important;
        width:6rem !important;
        border-radius:10px;
    }
    .img-fluid{
        height:12rem !important;
        width:8rem !important;
        margin-left:2rem;
        width:100%;

    }
    .mb-3{
        margin:0 !important;
    }
    .cart-container{
        font-size:0.8rem;
    }
    .cart-container button{
        padding:0;
        font-size:0.8rem;
    }
    img{
        width: 4rem !important;
        height:6rem !important;
    }
    .cart-container{
        min-height:14rem !important;
    }
}